AutoPilotConditionalAccess/azure-quickstart-templates/301-conditionalaccess-policy-alert-automation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
     "parameters": {  
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "301_conditionalaccess_alerts_automation",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {       
                        "AutoPilotConditionalAccessKeyVaultClientCredentials": {
                            "defaultValue": "https://autopilotcavault2.vault.azure.net/secrets/AutoPilotConditionalAccessClientSecret/04e3b95b7f0e49dea10e4189b5374595",
                            "type": "String"
                        },
                        "ClientID": {
                            "defaultValue": "3ad0fe30-3640-4364-a39a-bd1fae04ac9a",
                            "type": "String"
                        },
                        "TenantID": {
                            "defaultValue": "638f6240-1182-4adb-a12a-fdb1c768d7f2",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1,
                                "startTime": "2020-06-28T10:54:00.0000000Z"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Audit_logs_endpoint_for_conditional_access_policies": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "URL",
                                        "type": "string",
                                        "value": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$orderby=activityDateTime asc&$filter=loggedByService eq 'Conditional Access' and activityDateTime le @{subtractFromTime(utcNow(),2,'Minute')}  and activityDateTime ge @{subtractFromTime(utcNow(),3,'Minute')}"
                                    }
                                ]
                            }
                        },
                        "Condition": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('Parse_Audit_Logs_retrieved_for_CRUD_operations_on_Conditional_Access_Policies')?['value']",
                                    "actions": {
                                        "Parse_Audit_Logs": {
                                            "runAfter": {},
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@items('For_each')",
                                                "schema": {
                                                    "properties": {
                                                        "activityDateTime": {
                                                            "type": "string"
                                                        },
                                                        "activityDisplayName": {
                                                            "type": "string"
                                                        },
                                                        "category": {
                                                            "type": "string"
                                                        },
                                                        "correlationId": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "loggedByService": {
                                                            "type": "string"
                                                        },
                                                        "operationType": {
                                                            "type": "string"
                                                        },
                                                        "targetResources": {
                                                            "items": {
                                                                "properties": {
                                                                    "displayName": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "modifiedProperties": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "displayName": {
                                                                                    "type": "string"
                                                                                },
                                                                                "newValue": {
                                                                                    "type": [
                                                                                        "string",
                                                                                        "null"
                                                                                    ]
                                                                                },
                                                                                "oldValue": {
                                                                                    "type": [
                                                                                        "string",
                                                                                        "null"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "displayName",
                                                                                "oldValue",
                                                                                "newValue"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "displayName",
                                                                    "type",
                                                                    "modifiedProperties"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Switch": {
                                            "runAfter": {
                                                "Parse_Audit_Logs": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "cases": {
                                                "Case": {
                                                    "case": "Add conditional access policy",
                                                    "actions": {
                                                        "For_each_target_resources_within_audit_logs": {
                                                            "foreach": "@body('Parse_Audit_Logs')?['targetResources']",
                                                            "actions": {
                                                                "For_each_modified_properties_within_audit_logs": {
                                                                    "foreach": "@items('For_each_target_resources_within_audit_logs')?['modifiedProperties']",
                                                                    "actions": {
                                                                        "Check_if_a_conditional_access_policy_has_been_created_with_block_control": {
                                                                            "actions": {
                                                                                "Post_alert_to_Team_channel_notifying_new_block_policy_creation": {
                                                                                    "runAfter": {},
                                                                                    "type": "ApiConnection",
                                                                                    "inputs": {
                                                                                        "body": {
                                                                                            "messageBody": "[concat('{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"style\": \"emphasis\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"Large\",\n                                    \"weight\": \"Bolder\",\n                                    \"text\": \"**Azure Active Directory**\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"Image\",\n                                    \"url\": \"https://raw.githubusercontent.com/videor/AutoPilotConditionalAccess/master/AutoPilotConditionalAccess/azure-quickstart-templates/', parameters('workflows_301_conditionalaccess_alerts_automation_name'), '/images/Alert.PNG\",\n                                    \"altText\": \"Pending\",\n                                    \"height\": \"30px\"\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                }\n            ],\n            \"bleed\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"ExtraLarge\",\n                                    \"text\": \"Conditional Access\",\n                                    \"wrap\": true\n                                },\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"spacing\": \"Small\",\n                                    \"size\": \"Small\",\n                                    \"weight\": \"Bolder\",\n                                    \"color\": \"Accent\",\n                                    \"text\": \"Alert\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"ActionSet\",\n                                    \"actions\": [\n                                        {\n                                        }\n                                    ]\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"FactSet\",\n                    \"spacing\": \"Large\",\n                    \"facts\": [\n                        {\n                            \"title\": \"Type\",\n                            \"value\": \"**Alert: A new conditional access policy has been created with Block Access**\"\n                        },\n                        {\n                            \"title\": \"Modified Date\",\n                            \"value\": \"@{body(''Parse_newly_created_conditional_access_policies'')?[''modifiedDateTime'']}\"\n                        },\n                        {\n                            \"title\": \"Updated By\",\n                            \"value\": \"Conditional Access APIs using app permissions\"\n                        },\n                        {\n                            \"title\": \"Policy Name\",\n                            \"value\": \"@{body(''Parse_newly_created_conditional_access_policies'')?[''displayName'']}\"\n                        },\n                        {\n                            \"title\": \"Policy ID\",\n                            \"value\": \"@{body(''Parse_newly_created_conditional_access_policies'')?[''id'']}\"\n                        },\n                       {\n                            \"title\": \"Policy State\",\n                            \"value\": \"@{body(''Parse_newly_created_conditional_access_policies'')?[''state'']}\"\n                        },\n                        {\n                            \"title\": \"Message\",\n                            \"value\": \"A non-compliant conditional access policy was created. This policy can potentially have undesired impact on your users. Message also reported to secops@contoso.com\"\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ActionSet\",\n                    \"actions\": [\n                        {\n                            \"type\": \"Action.Submit\",\n                            \"title\": \"Approve Undo of Policy Change and restore to previous version.\",\n                            \"style\": \"positive\",\n                            \"data\": {\n                                \"id\": \"_qkQW8dJlUeLVi7ZMEzYVw\",\n                                \"action\": \"approve\"\n                            }\n                        },\n                        {\n                            \"type\": \"Action.ShowCard\",\n                            \"title\": \"Reject remediation and acknowledge as an exception\",\n                            \"style\": \"destructive\",\n                            \"card\": {\n                                \"type\": \"AdaptiveCard\",\n                                \"body\": [\n                                    {\n                                        \"type\": \"Input.Text\",\n                                        \"id\": \"RejectCommentID\",\n                                        \"placeholder\": \"Please specify an appropriate reason for rejecting the remediation.\",\n                                        \"isMultiline\": true\n                                    }\n                                ],\n                                \"actions\": [\n                                    {\n                                        \"type\": \"Action.Submit\",\n                                        \"title\": \"Send\",\n                                        \"data\": {\n                                            \"id\": \"_qkQW8dJlUeLVi7ZMEzYVw\",\n                                            \"action\": \"reject\"\n                                        }\n                                    }\n                                ],\n                                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n                            }\n                        }\n                    ]\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"fallbackText\": \"This card requires Adaptive Cards v1.2 support to be rendered properly.\"\n}')]",
                                                                                            "recipient": {
                                                                                                "channelId": "19:9120f93514ec41679d8f2c34b9fa536e@thread.tacv2"
                                                                                            }
                                                                                        },
                                                                                        "host": {
                                                                                            "connection": {
                                                                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                            }
                                                                                        },
                                                                                        "method": "post",
                                                                                        "path": "/flowbot/actions/adaptivecard/recipienttypes/channel",
                                                                                        "queries": {
                                                                                            "groupId": "0e4e4c2c-ab53-469b-8085-5ef462b8fae2"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "runAfter": {
                                                                                "Parse_newly_created_conditional_access_policies": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "expression": {
                                                                                "and": [
                                                                                    {
                                                                                        "contains": [
                                                                                            "@body('Parse_newly_created_conditional_access_policies')?['grantControls']?['builtInControls']",
                                                                                            "block"
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "type": "If"
                                                                        },
                                                                        "Parse_newly_created_conditional_access_policies": {
                                                                            "runAfter": {
                                                                                "Set_Old_JSON_value_from_Audit_Logs": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "ParseJson",
                                                                            "inputs": {
                                                                                "content": "@items('For_each_modified_properties_within_audit_logs')?['newValue']",
                                                                                "schema": {
                                                                                    "properties": {
                                                                                        "createdDateTime": {},
                                                                                        "displayName": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "grantControls": {
                                                                                            "properties": {
                                                                                                "builtInControls": {
                                                                                                    "items": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "operator": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "modifiedDateTime": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "state": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            }
                                                                        },
                                                                        "Set_New_JSON_value_from_Audit_Logs": {
                                                                            "runAfter": {},
                                                                            "type": "SetVariable",
                                                                            "inputs": {
                                                                                "name": "NewJSON",
                                                                                "value": "@{items('For_each_modified_properties_within_audit_logs')?['newValue']}"
                                                                            }
                                                                        },
                                                                        "Set_Old_JSON_value_from_Audit_Logs": {
                                                                            "runAfter": {
                                                                                "Set_New_JSON_value_from_Audit_Logs": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "SetVariable",
                                                                            "inputs": {
                                                                                "name": "OldJSON",
                                                                                "value": "@{items('For_each_modified_properties_within_audit_logs')?['oldValue']}"
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {},
                                                                    "type": "Foreach"
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "type": "Foreach"
                                                        }
                                                    }
                                                },
                                                "Case_2": {
                                                    "case": "Update conditional access policy",
                                                    "actions": {
                                                        "For_each_conditional_access_policy_update": {
                                                            "foreach": "@body('Parse_Audit_Logs')?['targetResources']",
                                                            "actions": {
                                                                "For_each_modified_properties_within_audit_logs_update_": {
                                                                    "foreach": "@items('For_each_conditional_access_policy_update')?['modifiedProperties']",
                                                                    "actions": {
                                                                        "Check_if_conditional_access_policy_has_been_updated_from_Grant_to_Block_access": {
                                                                            "actions": {
                                                                                "Post_alert_to_a_Team_channel_on_potentially_disruptive_update_to_policy": {
                                                                                    "runAfter": {},
                                                                                    "type": "ApiConnection",
                                                                                    "inputs": {
                                                                                        "body": {
                                                                                            "messageBody": "[concat('{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"style\": \"emphasis\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"Large\",\n                                    \"weight\": \"Bolder\",\n                                    \"text\": \"**Azure Active Directory**\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"Image\",\n                                    \"url\": \"https://raw.githubusercontent.com/videor/AutoPilotConditionalAccess/master/AutoPilotConditionalAccess/azure-quickstart-templates/', parameters('workflows_301_conditionalaccess_alerts_automation_name'), '/images/Alert.PNG\",\n                                    \"altText\": \"Pending\",\n                                    \"height\": \"30px\"\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                }\n            ],\n            \"bleed\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"ExtraLarge\",\n                                    \"text\": \"Conditional Access\",\n                                    \"wrap\": true\n                                },\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"spacing\": \"Small\",\n                                    \"size\": \"Small\",\n                                    \"weight\": \"Bolder\",\n                                    \"color\": \"Accent\",\n                                    \"text\": \"Alert\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"ActionSet\",\n                                    \"actions\": [\n                                        {\n                                        }\n                                    ]\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"FactSet\",\n                    \"spacing\": \"Large\",\n                    \"facts\": [\n                        {\n                            \"title\": \"Type\",\n                            \"value\": \"**Alert: Conditional access policy has changed from Grant to Block Access**\"\n                        },\n                        {\n                            \"title\": \"Modified Date\",\n                            \"value\": \"@{body(''Parse_new_conditional_access_policy_JSON'')?[''modifiedDateTime'']}\"\n                        },\n                        {\n                            \"title\": \"Updated By\",\n                            \"value\": \"Conditional Access APIs using app permissions\"\n                        },\n                        {\n                            \"title\": \"Policy Name\",\n                            \"value\": \"@{body(''Parse_new_conditional_access_policy_JSON'')?[''displayName'']}\"\n                        },\n                        {\n                            \"title\": \"Policy ID\",\n                            \"value\": \"@{body(''Parse_new_conditional_access_policy_JSON'')?[''id'']}\"\n                        },\n                       {\n                            \"title\": \"Policy State\",\n                            \"value\": \"@{body(''Parse_new_conditional_access_policy_JSON'')?[''state'']}\"\n                        },\n                        {\n                            \"title\": \"Message\",\n                            \"value\": \"A non-compliant update was made to Conditional Access policy. The grant control settings has been changed to block access. This change can potentially have undesired impact on your users. Message also reported to secops@contoso.com\"\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ActionSet\",\n                    \"actions\": [\n                        {\n                            \"type\": \"Action.Submit\",\n                            \"title\": \"Approve Undo of Policy Change and restore to previous version.\",\n                            \"style\": \"positive\",\n                            \"data\": {\n                                \"id\": \"_qkQW8dJlUeLVi7ZMEzYVw\",\n                                \"action\": \"approve\"\n                            }\n                        },\n                        {\n                            \"type\": \"Action.ShowCard\",\n                            \"title\": \"Reject remediation and acknowledge as an exception\",\n                            \"style\": \"destructive\",\n                            \"card\": {\n                                \"type\": \"AdaptiveCard\",\n                                \"body\": [\n                                    {\n                                        \"type\": \"Input.Text\",\n                                        \"id\": \"RejectCommentID\",\n                                        \"placeholder\": \"Please specify an appropriate reason for rejecting the remediation.\",\n                                        \"isMultiline\": true\n                                    }\n                                ],\n                                \"actions\": [\n                                    {\n                                        \"type\": \"Action.Submit\",\n                                        \"title\": \"Send\",\n                                        \"data\": {\n                                            \"id\": \"_qkQW8dJlUeLVi7ZMEzYVw\",\n                                            \"action\": \"reject\"\n                                        }\n                                    }\n                                ],\n                                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n                            }\n                        }\n                    ]\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"fallbackText\": \"This card requires Adaptive Cards v1.2 support to be rendered properly.\"\n}')]",
                                                                                            "recipient": {
                                                                                                "channelId": "19:9120f93514ec41679d8f2c34b9fa536e@thread.tacv2"
                                                                                            }
                                                                                        },
                                                                                        "host": {
                                                                                            "connection": {
                                                                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                                                                            }
                                                                                        },
                                                                                        "method": "post",
                                                                                        "path": "/flowbot/actions/adaptivecard/recipienttypes/channel",
                                                                                        "queries": {
                                                                                            "groupId": "0e4e4c2c-ab53-469b-8085-5ef462b8fae2"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            },
                                                                            "runAfter": {
                                                                                "Parse_old_conditional_access_policy_JSON": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "expression": {
                                                                                "and": [
                                                                                    {
                                                                                        "not": {
                                                                                            "contains": [
                                                                                                "@body('Parse_old_conditional_access_policy_JSON')?['grantControls']?['builtInControls']",
                                                                                                "block"
                                                                                            ]
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "contains": [
                                                                                            "@body('Parse_new_conditional_access_policy_JSON')?['grantControls']?['builtInControls']",
                                                                                            "block"
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            },
                                                                            "type": "If"
                                                                        },
                                                                        "Parse_new_conditional_access_policy_JSON": {
                                                                            "runAfter": {},
                                                                            "type": "ParseJson",
                                                                            "inputs": {
                                                                                "content": "@items('For_each_modified_properties_within_audit_logs_update_')?['newValue']",
                                                                                "schema": {
                                                                                    "properties": {
                                                                                        "createdDateTime": {},
                                                                                        "displayName": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "grantControls": {
                                                                                            "properties": {
                                                                                                "builtInControls": {
                                                                                                    "items": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "operator": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "modifiedDateTime": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "state": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            }
                                                                        },
                                                                        "Parse_old_conditional_access_policy_JSON": {
                                                                            "runAfter": {
                                                                                "Parse_new_conditional_access_policy_JSON": [
                                                                                    "Succeeded"
                                                                                ]
                                                                            },
                                                                            "type": "ParseJson",
                                                                            "inputs": {
                                                                                "content": "@items('For_each_modified_properties_within_audit_logs_update_')?['oldValue']",
                                                                                "schema": {
                                                                                    "properties": {
                                                                                        "createdDateTime": {},
                                                                                        "displayName": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "grantControls": {
                                                                                            "properties": {
                                                                                                "builtInControls": {
                                                                                                    "items": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "type": "array"
                                                                                                },
                                                                                                "operator": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "modifiedDateTime": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "state": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {},
                                                                    "type": "Foreach"
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "type": "Foreach"
                                                        }
                                                    }
                                                },
                                                "Case_3": {
                                                    "case": "Delete conditional access policy",
                                                    "actions": {}
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@body('Parse_Audit_Logs')?['activityDisplayName']",
                                            "type": "Switch"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Parse_Audit_Logs_retrieved_for_CRUD_operations_on_Conditional_Access_Policies": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greaterOrEquals": [
                                            "@length(body('Parse_Audit_Logs_retrieved_for_CRUD_operations_on_Conditional_Access_Policies')?['value'])",
                                            1
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "GET_Client_Secret_from_Key_Vault_using_Managed_Identity": {
                            "runAfter": {
                                "New_policy_JSON_after_change_is_made_to_conditional_access_policy": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "identity": "ManagedIdentity",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2016-10-01"
                                },
                                "uri": "@parameters('AutoPilotConditionalAccessKeyVaultClientCredentials')"
                            }
                        },
                        "Get_Audit_Logs_for_CRUD_operations_on_Conditional_Access_Policies": {
                            "runAfter": {
                                "Parse_Response_from_Key_Vault": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "@parameters('ClientID')",
                                    "secret": "@body('Parse_Response_from_Key_Vault')?['value']",
                                    "tenant": "@parameters('TenantID')",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "@variables('URL')"
                            }
                        },
                        "New_policy_JSON_after_change_is_made_to_conditional_access_policy": {
                            "runAfter": {
                                "Old_policy_JSON_before_change_is_made_to_conditional_access_policy": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "NewJSON",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Old_policy_JSON_before_change_is_made_to_conditional_access_policy": {
                            "runAfter": {
                                "Audit_logs_endpoint_for_conditional_access_policies": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OldJSON",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Parse_Audit_Logs_retrieved_for_CRUD_operations_on_Conditional_Access_Policies": {
                            "runAfter": {
                                "Get_Audit_Logs_for_CRUD_operations_on_Conditional_Access_Policies": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_Audit_Logs_for_CRUD_operations_on_Conditional_Access_Policies')",
                                "schema": {
                                    "properties": {
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "correlationId": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "correlationId"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_Response_from_Key_Vault": {
                            "runAfter": {
                                "GET_Client_Secret_from_Key_Vault_using_Managed_Identity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GET_Client_Secret_from_Key_Vault_using_Managed_Identity')",
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "properties": {
                                                "created": {
                                                    "type": "integer"
                                                },
                                                "enabled": {
                                                    "type": "boolean"
                                                },
                                                "recoveryLevel": {
                                                    "type": "string"
                                                },
                                                "updated": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                               "connectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]",
                                "connectionName": "teams-2",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
