AutoPilotConditionalAccess/azure-quickstart-templates/301-conditionalaccess-enable-contingencypolicies-automation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_301_conditionalaccess_enable_contingencypolicies_automation_name": {
            "defaultValue": "301-conditionalaccess-enable-contingencypolicies-automation",
            "type": "String"
        },
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_301_conditionalaccess_enable_contingencypolicies_automation_name')]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "AutoPilotConditionalAccessKeyVaultClientCredentials": {
                        "type": "String"
                        },
                        "ClientID": {
                            "type": "String"
                        },
                        "TenantID": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "disruption": {
                                            "required": true,
                                            "type": "string"
                                        },
                                        "resilient": {
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Disruption_Tag_to_Enable_Contingency_Policies_within_Conditional_Access": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DisruptionTag",
                                        "type": "string",
                                        "value": "@triggerBody()?['disruption']"
                                    }
                                ]
                            }
                        },
                        "For_each_Conditional_Access_Policy": {
                            "foreach": "@body('Parse_All_Conditional_Access_Policies')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Auto_Pilot_Enable_Contingency_Policies_Within_Conditional_Access_": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "clientId": "@parameters('ClientID')",
                                                    "secret": "@body('Parse_Response_from_Key_Vault')?['value']",
                                                    "tenant": "@parameters('TenantID')",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "body": {
                                                    "state": "enabled"
                                                },
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "PATCH",
                                                "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/policies/@{items('For_each_Conditional_Access_Policy')?['id']}"
                                            },
                                            "runtimeConfiguration": {
                                                "secureData": {
                                                    "properties": [
                                                        "inputs"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Condition_2": {
                                                "actions": {
                                                    "Auto_Pilot_Change_status_of_Resilient_policies_to_Report-Only_mode": {
                                                        "runAfter": {},
                                                        "type": "Http",
                                                        "inputs": {
                                                            "authentication": {
                                                                "audience": "https://graph.microsoft.com",
                                                                "clientId": "@parameters('ClientID')",
                                                                "secret": "@body('Parse_Response_from_Key_Vault')?['value']",
                                                                "tenant": "@parameters('TenantID')",
                                                                "type": "ActiveDirectoryOAuth"
                                                            },
                                                            "body": {
                                                                "state": "enabledForReportingButNotEnforced"
                                                            },
                                                            "headers": {
                                                                "Content-Type": "application/json"
                                                            },
                                                            "method": "PATCH",
                                                            "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/policies/@{items('For_each_Conditional_Access_Policy')?['id']}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "contains": [
                                                                "@items('For_each_Conditional_Access_Policy')?['displayName']",
                                                                "@variables('ResilientTag')"
                                                            ]
                                                        },
                                                        {
                                                            "greater": [
                                                                "@length(variables('ResilientTag'))",
                                                                3
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@items('For_each_Conditional_Access_Policy')?['displayName']",
                                                    "@variables('DisruptionTag')"
                                                ]
                                            },
                                            {
                                                "greater": [
                                                    "@length(variables('DisruptionTag'))",
                                                    3
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_All_Conditional_Access_Policies": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "GET_All_Conditional_Access_Policies_Using_App_Only_Token": {
                            "runAfter": {
                                "Parse_Response_from_Key_Vault": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "@parameters('ClientID')",
                                    "secret": "@body('Parse_Response_from_Key_Vault')?['value']",
                                    "tenant": "@parameters('TenantID')",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/policies"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs"
                                    ]
                                }
                            }
                        },
                        "GET_Client_Secret_from_Key_Vault_using_Managed_Identity": {
                            "runAfter": {
                                "Resilient_Tag_to_Disable_Control_based_Conditional_Access_policies": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "identity": "[parameters('userAssignedIdentities_AutoPilotCAUAI1_externalid')]",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2016-10-01"
                                },
                                "uri": "@parameters('AutoPilotConditionalAccessKeyVaultClientCredentials')"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Parse_All_Conditional_Access_Policies": {
                            "runAfter": {
                                "GET_All_Conditional_Access_Policies_Using_App_Only_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GET_All_Conditional_Access_Policies_Using_App_Only_Token')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "conditions": {
                                                        "properties": {
                                                            "applications": {
                                                                "properties": {
                                                                    "excludeApplications": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeApplications": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "includeUserActions": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "clientAppTypes": {
                                                                "type": "array"
                                                            },
                                                            "deviceStates": {},
                                                            "locations": {},
                                                            "platforms": {},
                                                            "signInRiskLevels": {
                                                                "type": "array"
                                                            },
                                                            "users": {
                                                                "properties": {
                                                                    "excludeGroups": {
                                                                        "type": "array"
                                                                    },
                                                                    "excludeRoles": {
                                                                        "type": "array"
                                                                    },
                                                                    "excludeUsers": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeGroups": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeRoles": {
                                                                        "type": "array"
                                                                    },
                                                                    "includeUsers": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "createdDateTime": {},
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "grantControls": {
                                                        "properties": {
                                                            "builtInControls": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "customAuthenticationFactors": {
                                                                "type": "array"
                                                            },
                                                            "operator": {
                                                                "type": "string"
                                                            },
                                                            "termsOfUse": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": [
                                                            "object",
                                                            "null"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "modifiedDateTime": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "sessionControls": {},
                                                    "state": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_Response_from_Key_Vault": {
                            "runAfter": {
                                "GET_Client_Secret_from_Key_Vault_using_Managed_Identity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GET_Client_Secret_from_Key_Vault_using_Managed_Identity')",
                                "schema": {
                                    "properties": {
                                        "attributes": {
                                            "properties": {
                                                "created": {
                                                    "type": "integer"
                                                },
                                                "enabled": {
                                                    "type": "boolean"
                                                },
                                                "recoveryLevel": {
                                                    "type": "string"
                                                },
                                                "updated": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Resilient_Tag_to_Disable_Control_based_Conditional_Access_policies": {
                            "runAfter": {
                                "Disruption_Tag_to_Enable_Contingency_Policies_within_Conditional_Access": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ResilientTag",
                                        "type": "string",
                                        "value": "@triggerBody()?['resilient']"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}
