AutoPilotConditionalAccess/azure-quickstart-templates/301-conditionalaccess-policy-blueprint-automation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_301_conditionalaccess_policy_blueprint_automation_name": {
            "defaultValue": "301-conditionalaccess-policy-blueprint-automation",
            "type": "String"
        },
        "userAssignedIdentities_AutoPilotCAUAI1_externalid": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_onedriveforbusiness_externalid": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_teams_externalid": {
            "defaultValue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_301_conditionalaccess_policy_blueprint_automation_name')]",
            "location": "uksouth",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "AutoPilotConditionalAccessKeyVaultClientCredentials": {
                            "defaultValue": "https://autopilotcavault2.vault.azure.net/secrets/AutoPilotConditionalAccessClientSecret/04e3b95b7f0e49dea10e4189b5374595",
                            "type": "String"
                        },
                        "ClientID": {
                            "defaultValue": "3ad0fe30-3640-4364-a39a-bd1fae04ac9a",
                            "type": "String"
                        },
                        "TenantID": {
                            "defaultValue": "638f6240-1182-4adb-a12a-fdb1c768d7f2",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_new_conditional_access_policy_template_is_added_": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "metadata": {
                                "b!S_mQ8pRickKStdgCwQA2ZYs5CwfTlTdFgOHtghxQUT-NGQ06AnNzSqHWQhBs6nsx.01DNPMLTF7PD7RYZPMM5DYP45B2QYYPN65": "/AI Hero/AzureAD/ConditionalAccess/Restore",
                                "b!S_mQ8pRickKStdgCwQA2ZYs5CwfTlTdFgOHtghxQUT-NGQ06AnNzSqHWQhBs6nsx.01DNPMLTHRYPY3ZSMUPRAYKNRXXBM73WEI": "/AI Hero/AzureAD/ConditionalAccess/Templates"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/onnewfilev2",
                                "queries": {
                                    "folderId": "b!S_mQ8pRickKStdgCwQA2ZYs5CwfTlTdFgOHtghxQUT-NGQ06AnNzSqHWQhBs6nsx.01DNPMLTHRYPY3ZSMUPRAYKNRXXBM73WEI",
                                    "includeSubfolders": false,
                                    "inferContentType": true,
                                    "simulate": false
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "GET_Client_Secret_from_Key_Vault_using_Managed_Identity": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://vault.azure.net",
                                            "identity": "[parameters('userAssignedIdentities_AutoPilotCAUAI1_externalid')]",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "queries": {
                                            "api-version": "2016-10-01"
                                        },
                                        "uri": "@parameters('AutoPilotConditionalAccessKeyVaultClientCredentials')"
                                    }
                                },
                                "GET_newly_Conditional_Access_Policy_Template_Using_App_Only_Token": {
                                    "runAfter": {
                                        "Parse_newly_Deployed_Conditional_Access_Policy_Template_details": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "@parameters('ClientID')",
                                            "secret": "@body('Parse_Response_from_Key_Vault')?['value']",
                                            "tenant": "@parameters('TenantID')",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/policies/@{body('Parse_newly_Deployed_Conditional_Access_Policy_Template_details')?['id']}"
                                    }
                                },
                                "POST_New_Conditional_Access_Policy_Template_Using_App_Only_Token": {
                                    "runAfter": {
                                        "Remove_modifiedDateTime_property_from_Template_if_it_exists": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "clientId": "@parameters('ClientID')",
                                            "secret": "@body('Parse_Response_from_Key_Vault')?['value']",
                                            "tenant": "@parameters('TenantID')",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": "@outputs('Remove_modifiedDateTime_property_from_Template_if_it_exists')",
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "POST",
                                        "uri": "https://graph.microsoft.com/beta/identity/conditionalAccess/policies"
                                    }
                                },
                                "Parse_Response_from_Key_Vault": {
                                    "runAfter": {
                                        "GET_Client_Secret_from_Key_Vault_using_Managed_Identity": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('GET_Client_Secret_from_Key_Vault_using_Managed_Identity')",
                                        "schema": {
                                            "properties": {
                                                "attributes": {
                                                    "properties": {
                                                        "created": {
                                                            "type": "integer"
                                                        },
                                                        "enabled": {
                                                            "type": "boolean"
                                                        },
                                                        "recoveryLevel": {
                                                            "type": "string"
                                                        },
                                                        "updated": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_newly_Deployed_Conditional_Access_Policy_Template_details": {
                                    "runAfter": {
                                        "POST_New_Conditional_Access_Policy_Template_Using_App_Only_Token": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('POST_New_Conditional_Access_Policy_Template_Using_App_Only_Token')",
                                        "schema": {
                                            "properties": {
                                                "createdDateTime": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "modifiedDateTime": {},
                                                "state": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel": {
                                    "runAfter": {
                                        "GET_newly_Conditional_Access_Policy_Template_Using_App_Only_Token": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"style\": \"emphasis\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"Large\",\n                                    \"weight\": \"Bolder\",\n                                    \"text\": \"**Azure Active Directory**\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"Image\",\n                                    \"url\": \"\",\n                                    \"altText\": \"Pending\",\n                                    \"height\": \"30px\"\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                }\n            ],\n            \"bleed\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"ExtraLarge\",\n                                    \"text\": \"Conditional Access\",\n                                    \"wrap\": true\n                                },\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"spacing\": \"Small\",\n                                    \"size\": \"Small\",\n                                    \"weight\": \"Bolder\",\n                                    \"color\": \"Accent\",\n                                    \"text\": \"Alert\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                           \"items\": [\n                                {\n                                    \"type\": \"ActionSet\",\n                                    \"actions\": [\n                                        {\n                                            \"type\": \"Action.OpenUrl\",\n                                            \"title\": \"TEMPLATE DEPLOYED!\",\n                                            \"url\": \"https://portal.azure.com\"\n                                        }\n                                    ]\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"FactSet\",\n                    \"spacing\": \"Large\",\n                    \"facts\": [\n                        {\n                            \"title\": \"Type\",\n                            \"value\": \"**Template deployment completed successfully**\"\n                        },\n                        {\n                            \"title\": \"Created Date\",\n                            \"value\": \"@{body('Parse_newly_Deployed_Conditional_Access_Policy_Template_details')?['createdDateTime']}\"\n                        },\n                        {\n                            \"title\": \"Deployed By\",\n                            \"value\": \"Conditional Access APIs using app permissions\"\n                        },\n                        {\n                            \"title\": \"Policy Name\",\n                            \"value\": \"@{body('Parse_newly_Deployed_Conditional_Access_Policy_Template_details')?['displayName']}\"\n                        },\n                        {\n                            \"title\": \"Policy ID\",\n                            \"value\": \"@{body('Parse_newly_Deployed_Conditional_Access_Policy_Template_details')?['id']}\"\n                        },\n                       {\n                            \"title\": \"Policy State\",\n                            \"value\": \"@{body('Parse_newly_Deployed_Conditional_Access_Policy_Template_details')?['state']}\"\n                        },\n                        {\n                            \"title\": \"Message\",\n                            \"value\": \"A restore action for Conditional Access policy was completed successfully.  Message also reported to secops@contoso.com\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"fallbackText\": \"This card requires Adaptive Cards v1.2 support to be rendered properly.\"\n}",
                                            "recipient": {
                                                "channelId": "19:d878a46007524323ad98242d47a9862b@thread.tacv2"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/flowbot/actions/adaptivecard/recipienttypes/channel",
                                        "queries": {
                                            "groupId": "2b2a4c98-5075-433e-9b6b-7a6fa923b867"
                                        }
                                    }
                                },
                                "Remove_createdDateTime_property_from_Template_if_it_exists": {
                                    "runAfter": {
                                        "Remove_id_read-only_property_from_Template_if_it_exists": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@removeProperty(outputs('Remove_id_read-only_property_from_Template_if_it_exists'),'createdDateTime')"
                                },
                                "Remove_id_read-only_property_from_Template_if_it_exists": {
                                    "runAfter": {
                                        "Set_Conditional_Access_Policy_Template_state_to_Report-Only_mode": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@removeProperty(outputs('Set_Conditional_Access_Policy_Template_state_to_Report-Only_mode'),'id')"
                                },
                                "Remove_modifiedDateTime_property_from_Template_if_it_exists": {
                                    "runAfter": {
                                        "Remove_createdDateTime_property_from_Template_if_it_exists": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@removeProperty(outputs('Remove_createdDateTime_property_from_Template_if_it_exists'),'modifiedDateTime')"
                                },
                                "Set_Conditional_Access_Policy_Template_state_to_Report-Only_mode": {
                                    "runAfter": {
                                        "Parse_Response_from_Key_Vault": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@setProperty(body('Parse_the_New_Conditional_Access_Policy_Template'),'state','enabledForReportingButNotEnforced')"
                                }
                            },
                            "runAfter": {
                                "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response')?['data']?['action']",
                                            "approve"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Parse_the_New_Conditional_Access_Policy_Template": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@json(triggerBody())",
                                "schema": {
                                    "properties": {
                                        "conditions": {
                                            "properties": {
                                                "applications": {
                                                    "properties": {
                                                        "includeUserActions": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "locations": {
                                                    "properties": {
                                                        "excludeLocations": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "includeLocations": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "users": {
                                                    "properties": {
                                                        "excludeGroups": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "includeGroups": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "grantControls": {
                                            "properties": {
                                                "builtInControls": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "operator": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "state": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Post_an_Adaptive_Card_to_a_Teams_channel_and_wait_for_a_response": {
                            "runAfter": {
                                "Parse_the_New_Conditional_Access_Policy_Template": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"style\": \"emphasis\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"Large\",\n                                    \"weight\": \"Bolder\",\n                                    \"text\": \"**Azure Active Directory**\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"Image\",\n                                    \"url\": \"https://raw.githubusercontent.com/videor/AutoPilotConditionalAccess/master/AutoPilotConditionalAccess/azure-quickstart-templates/301-conditionalaccess-alerts-automation/images/Alert.PNG\",\n                                    \"altText\": \"Pending\",\n                                    \"height\": \"30px\"\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                }\n            ],\n            \"bleed\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"ExtraLarge\",\n                                    \"text\": \"Conditional Access\",\n                                    \"wrap\": true\n                                },\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"spacing\": \"Small\",\n                                    \"size\": \"Small\",\n                                    \"weight\": \"Bolder\",\n                                    \"color\": \"Accent\",\n                                    \"text\": \"Alert\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"ActionSet\",\n                                    \"actions\": [\n                                        {\n                                        }\n                                    ]\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"FactSet\",\n                    \"spacing\": \"Large\",\n                    \"facts\": [\n                        {\n                            \"title\": \"Type\",\n                            \"value\": \"**Alert: New template has been added for Conditional Access Policy to deploy to your DEV environment.**\"\n                        },     \n                        {\n                            \"title\": \"Policy Name\",\n                            \"value\": \"@{body('Parse_the_New_Conditional_Access_Policy_Template')?['displayName']}\"\n                        },\n                       {\n                            \"title\": \"Policy State\",\n                            \"value\": \"@{body('Parse_the_New_Conditional_Access_Policy_Template')?['state']}\"\n                        },\n                        {\n                            \"title\": \"Message\",\n                            \"value\": \"A new Conditional Access policy template has been added. Adding a new template to your existing set of conditional access policies requires approval from one of the members in this channel. Message also reported to secops@contoso.com\"\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ActionSet\",\n                    \"actions\": [\n                        {\n                            \"type\": \"Action.Submit\",\n                            \"title\": \"Approve new template deployment for Conditional Access Policy to DEV environment\",\n                            \"style\": \"positive\",\n                            \"data\": {\n                                \"id\": \"_qkQW8dJlUeLVi7ZMEzYVw\",\n                                \"action\": \"approve\"\n                            }\n                        },\n                        {\n                            \"type\": \"Action.ShowCard\",\n                            \"title\": \"Reject New template deployment for Conditional Access Policy to DEV environment\",\n                            \"style\": \"destructive\",\n                            \"card\": {\n                                \"type\": \"AdaptiveCard\",\n                                \"body\": [\n                                    {\n                                        \"type\": \"Input.Text\",\n                                        \"id\": \"RejectCommentID\",\n                                        \"placeholder\": \"Please specify an appropriate reason for rejecting the new conditional access policy template.\",\n                                        \"isMultiline\": true\n                                    }\n                                ],\n                                \"actions\": [\n                                    {\n                                        \"type\": \"Action.Submit\",\n                                        \"title\": \"Send\",\n                                        \"data\": {\n                                            \"id\": \"_qkQW8dJlUeLVi7ZMEzYVw\",\n                                            \"action\": \"reject\"\n                                        }\n                                    }\n                                ],\n                                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n                            }\n                        }\n                    ]\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"fallbackText\": \"This card requires Adaptive Cards v1.2 support to be rendered properly.\"\n}",
                                        "recipient": {
                                            "channelId": "19:d878a46007524323ad98242d47a9862b@thread.tacv2"
                                        },
                                        "shouldUpdateCard": true,
                                        "updateMessage": "Processing requested action. "
                                    },
                                    "notificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                                "queries": {
                                    "groupId": "2b2a4c98-5075-433e-9b6b-7a6fa923b867"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "onedriveforbusiness": {
                                "connectionId": "[parameters('connections_onedriveforbusiness_externalid')]",
                                "connectionName": "onedriveforbusiness",
                                "id": "/subscriptions/e047b6ea-7532-4b75-8b21-2cd113c17048/providers/Microsoft.Web/locations/uksouth/managedApis/onedriveforbusiness"
                            },
                            "teams": {
                                "connectionId": "[parameters('connections_teams_externalid')]",
                                "connectionName": "teams",
                                "id": "/subscriptions/e047b6ea-7532-4b75-8b21-2cd113c17048/providers/Microsoft.Web/locations/uksouth/managedApis/teams"
                            }
                        }
                    }
                }
            }
        }
    ]
}
